# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build files
web-source/node_modules
dist
dist-ssr
*.local
*.sqlite
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.imi
backend/*.iml
frontend/*.iml

# User generated
__pycache__
.env
*.db
frontend/conf.yaml
backend/dictionary.txt
backend/is_reset_password.txt
backend/.env
docker/backend/
docker/frontend/
token.txt

# Dev
to-do.txt
.venv
*-debug.*
backend/is_running.txt
backend/.python-version
frontend/.vite/
